<!DOCTYPE html>
<html>
    <head>
        <title>ArteTodo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/styles.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

        <script>
          $(function() 
          {
            $("formulario").validate({
                 rules: {
                        idColaboradores: "required",
                        nomColaboradores: "required",
                        telefono: "required",
                        direccion: "required",
                        email:"required",
                        pais:"required",
                        },   
                        
                   messages: 
                    {
                    idColaboradores: {
                        required: 'Ingresa tu RUT',
                      },
                    nomColaboradores: {
                        required: 'Ingresa tu nombre',
                    },
                    telefono:{
                        required: 'Ingrese un telefono',
                        
                    },
                    direccion:{
                        required: 'Ingrese una direccion',
                    },
                    email:{
                      required: 'Ingresa un email'
                    },
                    pais:{
                      required: 'Ingrese su pais'
                    },
                     
                }
            }); 
        }); 
  </script>
    </head>
    <body>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-sm navbar-light fondobar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand" href="#">
              <img src="#" class="logonav" alt="">
            </a>
            <div class="collapse navbar-collapse" id="opciones">   
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link titulos" href="{% url 'form_Colaboradores' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link titulos" href="#">///////</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link titulos" href="#">/////////</a>
                </li>          
              </ul>
            </div>                        
        </nav>
        <hr>
        <br>
        <div class="container">
          <h1>Registro de Colaborador</h1>
        </div>
        <div class="container" >
          <form method="POST" action="" id="formulario">
            {% csrf_token %}
            <div class="row">
            <div class="form-group">
              {{colaboradores_form.idColaboradores.label}}
              {{colaboradores_form.idColaboradores}}
            </div>
            <div class="form-group">
              {{colaboradores_form.nomColaboradores.label}}
              {{colaboradores_form.nomColaboradores}}
            </div>
            </div>
            <div class="row">
            <div class="form-group">
              {{colaboradores_form.telefono.label}}
              {{colaboradores_form.telefono}}
            </div>
            <div class="form-group">
              {{colaboradores_form.direccion.label}}
              {{colaboradores_form.direccion}}
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              {{colaboradores_form.email.label}}
              {{colaboradores_form.email}}
            </div>
            <div class="form-group">
              {{colaboradores_form.pais.label}}
              {{colaboradores_form.pais}}
            </div>
          </div>

            <br><br>
            <div class="row" >
              <div class="col">
              <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
            </div>
            <div class="col">
              <input type="reset" class="btn btn-primary" id="limpar" value="Limpiar">
            </div>
              <div class="col">
              <div id="error" class="alert alert-danger" role="alert"></div> 
            </div>
            </div>
            {{ form.as_table }}
        </form>
    </div>
        

    
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Quienes Somos</h4>
              <p><a href="#" class="quienessomos">Acerca de Nosotros</a></p>
              <p><a href="#" class="quienessomos">Soporte</a></p>      
              
              
            </div>
          
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Contacto</h4>
              <a href="#">
                <img src="#" class="redessociales">
              </a> 
              <br> 
              <a href="#">
              <img src="#" class="redessociales">
              </a>
              <hr>
              
          </div>
            <div class="col-lg-4">
              <h4 class="text-uppercase mb-4">Redes Sociales</h4>
              <a href="#">
              <img src="#" class="redessociales">
              </a>
              <br>
              <a href="#">
              <img src="#g" class="redessociales">
              </a>
            </div>
          </div>
        </div>
    </footer>
  <!--Copyright-->
  <div class="copyright py-4 text-center text-white">
    <div class="container"><small>FelipeGarcía,©Copyright Derechos Reservados</small></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>      
  
            
</body>
</html>